<% content_for :title, "Router configuration" %>
<div class="mt-3 mb-3 is-flex is-justify-content-space-between">
  <h1>Router configuration</h1>
  <%= link_to "New Router", new_router_config_path, class: 'button is-link' %>
</div>
<div id="router_configs" class="mb-3">
  <% if @router_configs.size > 0 %>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Host</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @router_configs.each do |router_config| %>
          <tr>
            <th><%=router_config.name%></th>
            <td><%=router_config.host%>:<%=router_config.port%></td>
            <td>
              <div class="buttons">
                <%= link_to 'Edit', edit_router_config_path(router_config), class: 'button is-info is-small' %>
                <%= link_to "Delete", router_config, data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button is-danger is-small' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Create a new router by clicking <%= link_to "here", new_router_config_path, class: 'is-link' %>.
    <% end %>
  </div>
